.projects-group {
    display: flex;
    position: relative;
    margin-top: 10px;
    flex-wrap: wrap;

}

.project-item {
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    width: 50%;
    

}
.project-image {
    width: 75%;
    height: auto;
}
 
.header {
    margin-right: 25%;

}